<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'peticoes' %}">Peticiona Law</a>
    <a type="button" class="btn btn-primary" href="{% url 'peticao_create' %}">Criar nova Petição</a>
    <form class="d-flex" action="{% url 'peticoes' %}">
      <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" name="q">
      <button class="btn btn-dark" type="submit">Pesquisar</button>
    </form>

  </div>
</nav>